
.static-pages-content {
	.wpp_agents_content_agent_card, .staff-item{
		clear: both;
		padding: 1em;
		height: 120px;
		@media (min-width: 960px) {
			display: block;
			float: left;
			width: 48%;
			clear: none;
			padding: 0;
		}
	}

	.wpp_agent_stats_agent_image, .staff-item-image {
		float: left;
		padding-right: .7em;
		height: 120px;
		img {
			max-width: 70px;
			height: auto;
		}
	}
	.wpp_agent_stats_display_name p:first-child, .staff-item-content h3 {
		margin-bottom: 0;
	}
	.staff-item-content h3 {
		text-align: left;
		font-size: 12px;
		color: gray;
		line-height: normal;
		font-weight: bold;
		font-family: Arial;
	}
	.wpp_agent_stats_display_name p, .wpp_agent_stats_widget_bio p, .wpp_agent_info_list dd, .wpp_agent_info_list dt, .staff-item-content a {
		font-weight: bold;
		font-family: Arial;
	}
	.wpp_agent_info_list {
		font-size: 12px;
		color: gray;
		line-height: normal;
	}
	.staff-item-content-contact {
		margin-top: 15px;
		p {
			margin-bottom: 0;
			font-weight: bold;
			font-family: Arial;
		}
		a {
			font-size: 12px;
			color: gray;
			line-height: normal;
			font-weight: bold;
		}
	}
}
.agent-title {
	color: gray;
	font-size: 12px;
	font-weight: bold;
	font-family: Tahoma, Arial;
	margin: 1em 0;
}

.content-pull-left {
	padding-right: 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.pull-left {

			padding-right: 15px;
			padding-left: 0;
		
	}
	@media (max-width: 960px) {
		width: 100%;
	}
}

.pull-left {
	float: left;
	@media (max-width: 960px) {
		padding: 0 1em;
		&.availability-report {
			padding: 0;
		}
	}
}
.entry-col-content {
	display: inline-block;
	float: left;
	width: 72%;
	.content-pull-left {
		width: 100%;
		.pull-left {
			padding-right: 15px;
			padding-left: 0;
		}
	}
	@media (max-width: 48em) {
		float: none;
		width: 100%;
	}
}
.news-col-sidebar {
	float: right;
	width: 25%;
	.news-date {
		font-size: 12px;
	}
	a {
		font-size: 12px;
		display: block;
	}
	@media (max-width: 48em) {
		float: none;
		width: 100%;
	}
}

.agent-property-page-agent-container {
	vertical-align: top;
	display: inline-block;
	width: 30%!important;
	.agent-property-page-name {
		margin-bottom: 1em;
	}

}