.static-pages-content {
	.wpp_agents_content_agent_card {
		clear: both;
		padding: 1em;
		height: 120px;
		@media (min-width: 48em) {
			display: block;
			float: left;
			width: 48%;
			clear: none;
			padding: 0;
		}
	}

	.wpp_agent_stats_agent_image {
		float: left;
		padding-right: .7em;
		img {
			max-width: 70px;
			height: auto;
		}
	}
	.wpp_agent_stats_display_name p:first-child {
		margin-bottom: 0;
	}
	.wpp_agent_stats_display_name p, .wpp_agent_stats_widget_bio p, .wpp_agent_info_list dd, .wpp_agent_info_list dt {
		font-weight: bold;
		font-family: Arial;
	}
	.wpp_agent_info_list {
		font-size: 12px;
		color: gray;
		line-height: normal;
	}
}