body
{
	margin-left: auto;
	margin-right: auto;
    font-family: Tahoma, Arial;
    color: #333333;
    font-size: 9pt;
}
hr
{
	height: 1px;
	color: #ABC3CC;
}
.TopNav
{
	color: #355c88;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 7pt;
	text-transform: uppercase;
	width: auto;
	padding: 1em 4em;
	text-align: center;
	display: inline-block;
	.lte9 & {
		padding: 3em 2em 0;
		
	}

	a{
		color: #355c88;
		text-decoration: none;
		font-family: Verdana, Arial;
		font-size: 7pt;
		text-transform: uppercase;
		&:visited {
			color: #355c88;
			text-decoration: none;
			font-family: Verdana, Arial;
			font-size: 7pt;
			text-transform: uppercase;
			&:hover {
				color: #6699cc;
				text-decoration: underline;
				font-family: Verdana, Arial;
				font-size: 7pt;
				text-transform: uppercase;
			}
		}
		&:hover {
			color: #6699cc;
			text-decoration: underline;
			font-family: Verdana, Arial;
			font-size: 7pt;
			text-transform: uppercase;

		}
	}

}

.header-nav-primary-sub {
	.TopNav {
		padding: 1em 3em;
	}
}

.BottomNav {
	color: #355c88;
	text-decoration: none;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 8pt;
	display: inline-block;
	vertical-align: middle;
	margin: 0.4em 1.5em;
	line-height: 1.5;
	a {
		color: #355c88;
		text-decoration: none;
		font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
		font-size: 8pt;
		&:visited {
			color: #355c88;
			text-decoration: none;
		}
		&:hover {
			color: #6699cc;
			text-decoration: underline;

		}
	}
	&.copy-nav{
		margin-top: 0;
	}
	&-office {
		display: block;
		@media (min-width: 48em) {
			display: inline-block;
		}
		
	}
}

a {
	color: #355c88;
	text-decoration: none;
	font-family: Tahoma, Arial;
	font-size: 9pt;
	&:hover {
		color: #6699cc;
		text-decoration: underline;
	}
	&:visited {
		color: #355c88;
		text-decoration: none;
	}

}

a.Link-Small
{
	color: #355c88;
	text-decoration: none;
	font-family: Tahoma, Arial;
	font-size: 7pt;
}
a.Link-Small:hover
{
	color: #6699cc;
	text-decoration: underline;
	font-family: Tahoma, Arial;
	font-size: 7pt;
}
a.Link-Small:visited
{
	color: #355c88;
	text-decoration: none;
	font-family: Tahoma, Arial;
	font-size: 7pt;
}
a.Link-Small:visited:hover
{
	color: #6699cc;
	text-decoration: underline;
	font-family: Tahoma, Arial;
	font-size: 7pt;
}
.Label
{
	color: #000000;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
}
.Label-Blue
{
	color: #364F6C;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
}
.Field
{
	color: #000000;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	text-align: left;
	vertical-align: middle;
}
.Text-Black
{
	color: #000000;
	font-family: Tahoma, Arial;
	font-size: 8pt;
}
.Text-Black-Small
{
	color: #000000;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 8pt;
	line-height: 12pt;
}
.Text-Black-Medium
{
	color: #000000;
	font-family: Tahoma, Arial;
	font-size: 10pt;
}

a.Text-White-Small {
	color: #ccc;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 8pt;
	&:link {
		text-decoration: none;
	}
	&:hover {
		color: #eee;
		text-decoration: underline;
	}
	&:visited {
		text-decoration: none;
	}
}


.Text-Blue
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
}
a.Text-Blue:link
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	text-decoration: none;
}
a.Text-Blue:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	text-decoration: underline;
}
a.Text-Blue:visited
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	text-decoration: none;
}
a.Text-Blue:visited:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	text-decoration: underline;
}

.Text-Blue-Small
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 8pt;
	&:link {
		color: #355c88;
		font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
		font-size: 8pt;
		text-decoration: none;
	}
	&:hover {
		color: #6699cc;
		font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
		font-size: 8pt;
		text-decoration: underline;
	}
	&:visited {
		color: #355c88;
		font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
		font-size: 8pt;
		text-decoration: none;
	}
	&:visited:hover {
		color: #6699cc;
		font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
		font-size: 8pt;
		text-decoration: underline;
	}
}

.Text-Blue-Medium
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
}
a.Text-Blue-Medium:link
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
}
a.Text-Blue-Medium:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: underline;
}
a.Text-Blue-Medium:visited
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: none;
}
a.Text-Blue-Medium:visited:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 10pt;
	text-decoration: underline;
}
.Text-Blue-Large
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;
}
a.Text-Blue-Large:link
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;
	text-decoration: none;
}
a.Text-Blue-Large:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;
	text-decoration: underline;
}
a.Text-Blue-Large:visited
{
	color: #355c88;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;
	text-decoration: none;
}
a.Text-Blue-Large:visited:hover
{
	color: #6699cc;
	font-family: Tahoma, Verdana, Arial;
	font-size: 12pt;
	text-decoration: underline;
}
.Text-Gray
{
	color: #999999;
	font-family: Verdana, Arial;
	font-size: 8pt;
}
.Text-Gray-Small
{
	color: #999999;
	font-family: Verdana, Arial;
	font-size: 7pt;
}
.Text-Green
{
	color: #009900;
	font-family: Verdana, Arial;
	font-size: 8pt;
}
.Text-Red
{
	color: #cc0000;
	font-family: Verdana, Arial;
	font-size: 8pt;
}
.Asterisk-Red
{
	color: #cc0000;
	font-family: Courier New;
	font-size: 14pt;
}
.Title-Black
{
	color: #000000;
	font-family: Trebuchet MS, Arial;
	font-size: 12pt;
	font-weight: bold;
}
.Title-Black2
{
	color: #000000;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
}
a.Title-Black2:link
{
	color: #000000;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
a.Title-Black2:hover
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
}
a.Title-Black2:visited
{
	color: #000000;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
a.Title-Black2:visited:hover
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
}
.Title-White
{
	color: #ffffff;
	text-decoration: none;
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
}
.Title-White2
{
	color: #ffffff;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
}
.Title-Blue
{
	color: #355c88;
	text-decoration: none;
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
}
a.Title-Blue:link
{
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	color: #355c88;
}
a.Title-Blue:hover
{
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	color: #6699cc;
}
a.Title-Blue:visited
{
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	color: #355c88;
}
a.Title-Blue:visited:hover
{
	font-family: Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	color: #6699cc;
}
.Title-Blue2
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
}
a.Title-Blue2:link
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
a.Title-Blue2:hover
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
}
a.Title-Blue2:visited
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
a.Title-Blue2:visited:hover
{
	color: #355c88;
	font-family: AvantGarde Bk BT, Century Gothic, Tahoma, Arial;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: underline;
}
.SubTitle-Blue
{
	color: #355c88;
	text-decoration: none;
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
}
a.SubTitle-Blue:link
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	color: #355c88;
}
a.SubTitle-Blue:hover
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	color: #6699cc;
}
a.SubTitle-Blue:visited
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	color: #355c88;
}
a.SubTitle-Blue:visited:hover
{
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
	color: #6699cc;
}
.Title2-Blue
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #355c88;
}
a.Title2-Blue:link
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #355c88;
}
a.Title2-Blue:hover
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #6699cc;
}
a.Title2-Blue:visited
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #355c88;
}
a.Title2-Blue:visited:hover
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #6699cc;
}
.Title-Blue-Small
{
	color: #355c88;
	font-family: Georgia, Times New Roman;
	font-size: 7pt;
}
a.Title-Blue-Small:link
{
	color: #355c88;
	font-family: Georgia, Times New Roman;
	font-size: 7pt;
}
a.Title-Blue-Small:hover
{
	color: #6699cc;
	font-family: Georgia, Times New Roman;
	font-size: 7pt;
}
a.Title-Blue-Small:visited
{
	color: #355c88;
	font-family: Georgia, Times New Roman;
	font-size: 7pt;
}
a.Title-Blue-Small:visited:hover
{
	color: #6699cc;
	font-family: Georgia, Times New Roman;
	font-size: 7pt;
}

.Title-Green
{
	font-family: Trebuchet MS, Arial;
	font-size: 12pt;
	color: #336633;
}
.Title-Gray
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #999999;
}
.Title2-Gray
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	color: #666666;
}
.Title2-Gray
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	text-decoration: none;
	color: #666666;
}
a.Title2-Gray:link
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	text-decoration: none;
	color: #666666;
}
a.Title2-Gray:hover
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	text-decoration: underline;
	color: #6699cc;
}
a.Title2-Gray:visited
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	text-decoration: none;
	color: #666666;
}
a.Title2-Gray:visited:hover
{
	font-family: Georgia, Times New Roman;
	font-size: 12pt;
	text-decoration: underline;
	color: #6699cc;
}
.Text-White
{
	color: #ffffff;
	font-family: Verdana, Arial;
	font-size: 8pt;
}
a.Link-White
{
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 8pt;
	font-weight: bold;
}
a.Link-White:hover
{
	color: #ffff99;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 8pt;
	font-weight: bold;
}
a.Link-White:visited
{
	color: #ffffff;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 8pt;
	font-weight: bold;
}
a.Link-White:visited:hover
{
	color: #ffff99;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 8pt;
	font-weight: bold;
}
a.Link-Gray
{
	color: #999999;
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 10pt;
}
a.Link-Gray:hover
{
	color: #336633;
	text-decoration: none;
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
}
a.Link-Gray:visited
{
	color: #999999;
	text-decoration: none;
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
}
a.Link-Gray:visited:hover
{
	color: #336633;
	text-decoration: none;
	font-family: Trebuchet MS, Arial;
	font-size: 10pt;
}
.Success
{
    font-family: Trebuchet MS, Tahoma, Arial;
    font-size: 10pt;
    color: #009900;
}
.Error
{
    font-family: Trebuchet MS, Tahoma, Arial;
    font-size: 10pt;
    color: #cc0000;
}
.List
{
	width: 100%;
	border: solid 1px #999999;
	background-color: #ffffff;
}
.Header
{
	background-image: url(/Images/Background-Gradient-Grey.gif);
	color: #ffffff;
	font-family: Tahoma, Arial;
    font-size: 8pt;
	font-weight: bold;
}
.Item
{
	background-color: #E6EBF0;
	color: #000000;
	font-family: Verdana, Arial;
    font-size: 8pt;
}
.AltItem
{
	background-color: #F4F6F8;
	color: #000000;
	font-family: Verdana, Arial;
    font-size: 8pt;
}
.Footer
{
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial;
    font-size: 8pt;
}
.ModalBackground
{
    background-image: url(/Images/Background-Black-Transparent-70.png);
}