.static-pages-content {
	.gform_wrapper form ul.left_label li, .gform_wrapper form ul.right_label li, .gform_wrapper ul.left_label li, .gform_wrapper ul.right_label li {
		margin-bottom: 0;
	}

	.gform_wrapper .right_label li.field_sublabel_below .gfield_label {
		margin: 0.4em 1em 0 0;
	}
	.gform_wrapper .right_label .gfield_label {
		width: 24%;
	}
	.gform_wrapper .gform_footer.right_label {
		padding-top: 0;
		margin-left: 26%;
	}
	.ginput_right.address_state select {
		border-radius: 0;
		height: 25px;
	}
}

