.property-sub-navigation {
	position: relative;
	background: url(../../uploads/2015/06/Background-Community-Navigation.png);
	background-repeat: repeat-x;
	height: 40px;
	width: 100%;
	margin: 1.5em 0;
	clear: both;
	@media (max-width: 48em) {
		display: none;
		.search-availability-container & {
			display: block;
			background: transparent;
			height: auto;
			ul {
				text-align: center;
			}
		}
	}
	li {
		width: 191px;
		height: 37px;
		border: solid 1px #cccccc;
		background-color: #ffffff;
		display: block;
		padding: 5px;
		float: left;
  		margin: 0 10px;
  		@media (max-width: 48em) {
  			width: 43%;
  			margin: .5em;
  			display: inline-block;
  			float: none;
  		}
	}
	.bucket {
		background: url(../../uploads/2015/06/Background-Gradient-LightGray.gif);
		background-repeat: repeat-x;
		border: solid 1px #cccccc;
		text-align: center;
		vertical-align: middle;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 2.7;
		a {
			font-family: Georgia, Times New Roman;
			font-size: .7em;
			text-transform: uppercase;
			vertical-align: super;
			span {
				font-size: 1.3em;
			}
		}
	}
	a {
		display: inline-block;
		width: 99%;
		height: 93%;
		background: url(../../uploads/2015/06/Background-Gradient-LightGray.gif);
		background-repeat: repeat-x;
		border: solid 1px #cccccc;
		font-family: Georgia, Times New Roman;
		text-align: center;
		vertical-align: middle;
		line-height: 3;
		font-size: 13px;
		text-transform: uppercase;
	}
}


#menu-search-availability-menu, #menu-availability-report-all-regions-menu, #menu-availability-report-greater-memphis-menu, #menu-availability-report-greater-nashville-menu, #menu-availability-report-other-regions-menu, #menu-property-portfolio-all-regions-menu, #menu-property-portfolio-memphis-menu, #menu-property-portfolio-nashville-menu, #menu-property-portfolio-other-regions-menu, #menu-news-all-regions-menu {
	position: relative;
	li {
		display: inline-block;
		padding: 0.5em 35px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		background: #fbfbfb;
		background: -moz-linear-gradient(top,  #fbfbfb 0%, #c2c2c2 33%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(33%,#c2c2c2));
		background: -webkit-linear-gradient(top,  #fbfbfb 0%,#c2c2c2 33%);
		background: -o-linear-gradient(top,  #fbfbfb 0%,#c2c2c2 33%);
		background: -ms-linear-gradient(top,  #fbfbfb 0%,#c2c2c2 33%);
		background: linear-gradient(to bottom,  #fbfbfb 0%,#c2c2c2 33%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#c2c2c2',GradientType=0 );
		border: 1px solid #666;
		vertical-align: bottom;
		position: relative;
		bottom: -1px;
		@media (max-width: 48em) {
			display: block;
			border-radius: 0;
			bottom: 0;
			margin: 0;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		&.current-menu-item  {
			background: #fbfbfb;
			background: -moz-linear-gradient(top,  #fbfbfb 0%, #bec9d5 33%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(33%,#bec9d5));
			background: -webkit-linear-gradient(top,  #fbfbfb 0%,#bec9d5 33%);
			background: -o-linear-gradient(top,  #fbfbfb 0%,#bec9d5 33%);
			background: -ms-linear-gradient(top,  #fbfbfb 0%,#bec9d5 33%);
			background: linear-gradient(to bottom,  #fbfbfb 0%,#bec9d5 33%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#bec9d5',GradientType=0 );
			line-height: 1.5;
			position: relative;
			border-bottom: 0;
		}
	}
}

.portfolio-container .search-availability-content ul li {
	padding: .5em 22px!important;
}

#menu-property-portfolio-regions-menu {
	li {
		margin: 0 .1em;
		width: 164px;
		a {
			line-height: 2.6;
			font-size: .8em;
		}
	}
}

.menu-availability-report-regions-menu-container {
	.current-menu-item a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
//all regions
#post-985, #post-606, #post-604, #post-608, #post-595, #post-597, #post-601, #post-599 {
	.menu-item-999 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
//property portfolio all regions
#post-1512, #post-1524, #post-1522, #post-1526, #post-1514, #post-1516, #post-1520, #post-1518, #post-1504 {
	.menu-item-1629 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio memphis
#post-1506, #post-1530, #post-1542, #post-1540, #post-1544, #post-1532, #post-1534, #post-1538, #post-1536 {
	.menu-item-1634 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio nashville
#post-1508, #post-1548, #post-1561, #post-1559, #post-1563, #post-1551, #post-1553, #post-1555, #post-1557 {
	.menu-item-1635 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio other regions
#post-1510, #post-1566, #post-1577, #post-1575, #post-1579, #post-1569, #post-1571, #post-1573, #post-1563 {
	.menu-item-1636 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
//greater memphis
#post-621, #post-624, #post-619, #post-610, #post-612, #post-617, #post-614, #post-987 {
	.menu-item-1000 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//greater nashville
#post-636, #post-634, #post-638, #post-626, #post-628, #post-632, #post-630, #post-989 {
	.menu-item-1001 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//other regions
#post-650, #post-648, #post-652, #post-640, #post-642, #post-646, #post-644, #post-991 {
	.menu-item-1002 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
.property-type-list-content {
	background: #bec9d5;
	border: 1px solid #666;
	clear: both;
	padding: 1em;
	strong {
		color: #000000!important;
		font-family: Tahoma, Arial!important;
		font-size: 8pt!important;
	}
}


.left-content {
	float: left;
	width: 50%;
	margin-right: 1em;
}
.search-filters {
	display: inline-block;
	margin-bottom: 1em;
	small {
		font-size: 12px;
		margin-right: .5em;
	}
	strong {
		vertical-align: top;
	}
}

.search-availability-content {
	clear: both;

}

