.static-container.single-properties-container {
	font-size: 11px;
	@media (max-width: 960px) {
		-webkit-display: -webkit-box;
		-webkit-display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-flow: column nowrap;
	}
	p {
		font-size: 11px;
		color: #000;
		margin-bottom: 5px;
		line-height: 19px;
		@media (max-width: 960px) {
			padding: 0;
		}
	}
	.services-container {
		float: left;
		width: 41%;
		border-left: 0;
		padding: 0 2em;
		box-sizing: border-box;
		font-family: Tahoma, Arial;
		@media (max-width: 960px) {
			width: 100%;
			text-align: left;
			padding: 0;
		}
		strong, p {
			font-family: Tahoma;
		}
		.bread-crumbs {
			@media (max-width: 768px) {
				display: none;
				border-bottom: 0;
			}
		}
	}
}

.side-map.hidden {
	display: none;
}

.map-toggle1, .map-toggle2 {
	color: #355c88;
	text-decoration: none;
	font-family: Tahoma, Arial;
	font-size: 9pt;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
.single-child-property-title {
    color: #355c88;
    text-decoration: none;
    font-family: Century Gothic, Tahoma, Arial;
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}

.pin-drop-text {
	img {
		max-height: 20px;
	}
	span {
		font-weight: bold;
		font-size: 12px;
		vertical-align: super;
	}
	.green {
		color: #009900;
		
	}
	.red {
		color: #cc0000;
	}
	.pin-drop-inner-content {
		display: inline-block;
		width: 49%;
		text-align: center;
	}
}
.city-label {

    background-color: transparent!important;
    border: 0!important;
    padding-left: 0!important;
    h3 {
    	font-weight: bold;
    	color: #000;
    }
}
.property-image-container {
	position: relative;
	h2 {
		position: absolute;
		top: .5em;
		left: 1em;
		font-size: 2em;
		font-family: Georgia, "Times New Roman";
		color: #fff;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
		@media (max-width: 48em) {
			font-size: 1.2em;
			top: 1em;
		}
	}
}

.single-propery-container strong {
	@media (max-width: 960px) {
		display: inline-block!important;
	}
}

.property-news-sidebar-item {
	margin-bottom: 1em;
	.news-date {
		display: block;
		color: #000;
		font-size: 12px;
		margin-bottom: 2px;
	}
	a {
		font-size: 12px;
		line-height: 1.3;
	}
}
.property-news-item {
	.news-item-p {
		line-height: 1.5;
		margin-top: 1em;
	}
}

.is-hidden {
	display: none;
}
.full-width {
	width: 77%!important;
	@media (max-width: 960px) {
		width: 99%!important;
	}
}

.Item {
  background-color: #E6EBF0;
  color: #000000;
  font-family: Verdana, Arial;
  font-size: 8pt;
  td {
  	padding: 5px;
  	border: 1px solid #fff;
  }
}
.List {
	border-collapse: initial;
	tr:nth-child(even) {
		background-color: #F4F6F8;
	}
}
tr.Header {
  background-image: url(../../uploads/2015/06/Background-Gradient-Grey.gif);
  color: #ffffff;
  font-family: Tahoma, Arial;
  font-size: 8pt;
  font-weight: bold;
  td {
  	padding: 5px;
  }
}


.gallery-container {
	text-align: center;
	small {
		margin-top: 1em;
	}
	.main-image {
		width: 95%;
		border: 1px solid #000;
	}
	.thumb {
		cursor: pointer;
	}
	li {
		display: inline-block;
		text-align: center;
		width: 150px;
		vertical-align: top;
		padding: 5px;
		box-sizing: border-box;
		img {
			width: 100%;
		}
	}
	.gallery-caption {
		font-weight: bold;
		text-align: center;
	}
}
.Text-Blue {
	p, em {
		color: #355c88!important;
	}
	em {
		font-weight: normal!important;
	}
}
.featured-property {
	color: #000;
	strong {
		display: block;
	}
}
.single-property-sub-navigation {
	position: relative;
	background: url(../../uploads/2015/06/Background-Community-Navigation.png);
	background-repeat: repeat-x;
	height: 40px;
	width: 100%;
	margin-top: -.5em;
	margin-bottom: .5em;
	text-align: center;
	@media (max-width: 960px) {
		display: none;
	}
	& div:last-child {
		margin-right: 0;
	}
	& div:first-child {
		margin-left: 0;
	}
	.single-property-bucket-container {
		width: 22%;
		height: 37px;
		border: solid 1px #cccccc;
		background-color: #ffffff;
		display: inline-block;
		padding: 5px;
  		margin: 0 .3em .5em;
	}
	.bucket {
		background: url(../../uploads/2015/06/Background-Gradient-LightGray.gif);
		background-repeat: repeat-x;
		border: solid 1px #cccccc;
		text-align: center;
		vertical-align: middle;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 2.7;
		a {
			font-family: Georgia, Times New Roman;
			font-size: .7em;
			text-transform: uppercase;
			vertical-align: super;
			span {
				font-size: 1.3em;
			}
		}
		&-contact {
			&:before {
				content: '';
				background: url(../../uploads/2015/06/Icon-Phone.png);
				width: 36px;
				height: 22px;
				margin-right: 8px;
				display: inline-block;
				background-repeat: no-repeat;
			}
		}
		&-news {
			&:before {
				content: '';
				background: url(../../uploads/2015/06/Icon-Radio.png);
				width: 31px;
				height: 30px;
				margin-right: 8px;
				display: inline-block;
				background-repeat: no-repeat;
			}
		}
		&-gallery {
			&:before {
				content: '';
				background: url(../../uploads/2015/06/Icon-Snapshot.png);
				width: 39px;
				height: 32px;
				margin-right: 8px;
				display: inline-block;
				background-repeat: no-repeat;
			}
		}
		&-availability {
			&:before {
				content: '';
				background: url(../../uploads/2015/05/Icon-Report.png);
				width: 36px;
				height: 22px;
				margin-right: 8px;
				display: inline-block;
				background-repeat: no-repeat;
			}
		}
	}
}


.side-property-header {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 48%, #e6ebe6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ffffff), color-stop(100%,#e6ebe6));
	background: -webkit-linear-gradient(top,  #ffffff 48%,#e6ebe6 100%);
	background: -o-linear-gradient(top,  #ffffff 48%,#e6ebe6 100%);
	background: -ms-linear-gradient(top,  #ffffff 48%,#e6ebe6 100%);
	background: linear-gradient(to bottom,  #ffffff 48%,#e6ebe6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6ebe6',GradientType=0 );
	font-family: Georgia, Times New Roman;
	text-transform: uppercase;
	margin: 1em 0 .5em;
	font-size: 11px;
	clear: both;
	a {
		font-family: Georgia, Times New Roman;
		font-size: 1em;
		vertical-align: super;
	}
	span {
		font-size: 1.3em;
	}
	&:before {
		content: '';
		margin: 0 8px;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&-community-overview {
		&:before {
			background-image: url(../../uploads/2015/06/Icon-House.png);
			width: 27px;
			height: 22px;
		}		
	}
	&-site-plan {
		&:before {
			background-image: url(../../uploads/2015/04/Icon-MagnifyingGlass.gif);
			width: 27px;
			height: 22px;
		}		
	}
	&-documents {
		&:before {
			background-image: url(../../uploads/2015/05/Icon-Report.png);
			width: 27px;
			height: 22px;
		}		
	}
	&-availability {
		&:before {
			content: '';
			background-image: url(../../uploads/2015/06/Icon-Tree.png);
			width: 27px;
			height: 22px;
		}

	}
	&-price-list {
		&:before {
			background-image: url(../../uploads/2015/05/Icon-Acorn-1.png);
			width: 22px;
			height: 22px;
		}
	}
	&-featured-builders {
		&:before {
			background-image: url(../../uploads/2015/05/Icon-Acorn-1.png);
			width: 22px;
			height: 22px;
		}
	}
	&-community-news {
		&:before {
			background-image: url(../../uploads/2015/06/Icon-Radio.png);
			width: 22px;
			height: 22px;
		}
	}
}

.featured-property-image {
	width: 100%;
	border: 1px solid #ccc;
}

.featured-property-sidebar {
	img {
		@media (max-width: 960px) {
			max-width: 300px;
		}
	}
}

.property-logo {
	width: 20%;
	background-color: #fff;

	border: 1px solid #ccc;
	-webkit-box-shadow: 6px 6px 8px 1px rgba(102,102,102,1);
	-moz-box-shadow: 6px 6px 8px 1px rgba(102,102,102,1);
	box-shadow: 6px 6px 8px 1px rgba(102,102,102,1);
	max-width: 190px;
	img {
		border: 1px solid #f1f1f1;
		margin: 5px;
		box-sizing: border-box;
		width: 94%;
	}
}
.sidebar-gallery-container {
	padding: 0 0 10px;
	background-color: #fff;
	margin: 10px 0;
	width: 300px;
	.slick-slider {
		margin-bottom: 0;
		max-width: 302px;
	}

	.slider-nav {
		height: 40px;
		padding: 0 45px;
		max-width: 302px;
		margin: 0 auto;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5d5d5+0,dfdfdf+50,cfcfcf+53,d5d5d5+99 */
		background: #d5d5d5; /* Old browsers */
		background: -moz-linear-gradient(top,  #d5d5d5 0%, #dfdfdf 50%, #cfcfcf 53%, #d5d5d5 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(50%,#dfdfdf), color-stop(53%,#cfcfcf), color-stop(99%,#d5d5d5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
		.slick-next, .slick-prev {
			display: block;
		    height: 100%;
		    width: 31px;
		    top: 10px;
			background: #d5d5d5; /* Old browsers */
			background: -moz-linear-gradient(top,  #d5d5d5 0%, #dfdfdf 50%, #cfcfcf 53%, #d5d5d5 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(50%,#dfdfdf), color-stop(53%,#cfcfcf), color-stop(99%,#d5d5d5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #d5d5d5 0%,#dfdfdf 50%,#cfcfcf 53%,#d5d5d5 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
			&:before {
				line-height: 2.1;
				color: #333;
			}
		}
		.slick-next {
			right: -1px;
		}
		.slick-prev {
			left: -1px; 
		}
		.slick-slide {
			max-height: 20px;
			margin: 10px;
			overflow: hidden;
			img {
				display: inline-block;
				vertical-align: -webkit-baseline-middle;
				padding: 0;
				width: 120%;
				opacity: .7;
			}
		}
		.slick-center img{
			opacity: 1;
		}
	}
	.portfolio-sidebar-gallery {
		.slick-slide {
			max-height: 200px;
			background-color: #000;
			
			img {
				max-width: 100%;
				width: auto;
				height: 200px;
				margin: 0 auto;
				padding: 0 10px;
			}
		}
	}
	@media (max-width: 48em) {
		display: none;
	}
}
.properties-sidebar-container {
	height: auto;
	margin-bottom: 2em;
	float: left;
	b {
		font-weight: 700;
	}
	&:last-child {
		width: 34%;
		text-align: right;
		p {
			text-align: right;
			@media (max-width: 768px) {
				text-align: left;
			}
		}
		@media (max-width: 768px) {
			width: 100%;
			text-align: left;
			margin-bottom: 0;
		}
	}
	&:first-child {
		width: 23%;
		margin-top: 11em;
		@media (max-width: 960px) {
			width: 100%;
			margin-top: 0;
			order: 2;
		}
	}
	@media (max-width: 960px) {
		width: 100%;
	}
	&.single-sidebar-container {
		margin-top:0;
		order: 2;
		@media (max-width: 960px) {
			margin-top: 20px;
		}
		.property-logo {
			width: 100%;
			margin-bottom: 2em;
			@media (max-width: 960px) {
				display: none;
			}
		}
		.single-property-agent-container {
			margin-top: 0;
			img {
				max-width: 75px;
			}
			li:before {
				content: none;
			}
			ul {
				list-style-type: none;
			}
		}
	}
}

.report-container, .property-list-container {
	p {
		margin-top: .5em;
		color: #000;
		font-size: 11px;
		font-family: Verdana, Arial;
	}
	.pull-right {
		float: right;
		@media (max-width: 32em) {
			float: none;
		}
	}
	b {
		font-weight: bold;
	}
	li {
		background-color: #F4F6F8;
		clear: both;
		padding: 1em;
		display: inline-block;
		border: 1px solid #fff;
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:nth-child(even) {
			background-color: #E6EBF0;
		}
		ul {
			list-style-type: disc;
			margin-left: 2em;
			li {
				background-color: transparent!important;
				border: 0;
				display: list-item;
    			padding: 0;
			}
		}
	}
	.pull-left {
	    margin: 0 1em 1em 0;
	    width: 14%;
	    padding: 0;
	    @media (max-width: 625px) {
	    	float: none;
	    	width: 150px;
	    }
	    &.result-summary {
	    	@media (max-width: 625px) {
	    		width: 100%;
	    		margin:0;
	    		line-height: .5;
	    	}
	    	strong {
	    		display: inline-block;
	    	}
	    }
	}

}

.home-container {
	ul {
		li {
			background-color: transparent!important;
			border: 0;
			display: list-item;
			padding: 0;
			color: #000;
		}
	}
}
.search-availability-link {
	font-weight: bold;
	text-align: left;
}

.availability-report-link {
	float: right;
}
.property-portfolio-title {
  margin-bottom: 1em;
  font-weight: bold;
  font-family: Century Gothic, Tahoma, Arial;
  font-size: 12pt;
}
.portfolio-sub-navigation {
	margin-top: -1em;
}
.agent-name {
	margin-bottom: 0!important;
}

.availability-report-image {
	width: 100%;
	border: 1px solid #000;
	margin-bottom: 1em;
	max-width: 110px;
	max-height: 110px;
}

.side-property-inner-container {
	margin-bottom: 3em;
	@media (max-width: 960px) {
		width: 45%;
		float: left;
		margin: 10px;
	}
	@media (max-width: 600px) {
		float: none;
		width: 100%;
		margin: 10px 0;
	}
}

.single-property-agent-container {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
	img {
		float: left;
		padding-right: .8em;
	}
	strong {
		display: block;
		margin-bottom: 5px;
		color: #000!important;
	}
	span {
		display: inline-block;
		margin-bottom: 5px;
	}
	small {
		font-size: 11px;
	}
	// ul {
	// 	float: left;
		
	// }
	li {
		
		margin-bottom: 5px;
	}
}

.outer-image-container {
	overflow: hidden;
	height: 380px;
	padding: 2px;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.65);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.65);
	@media (max-width: 960px) {
		height: auto;
		padding: 0;
		-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}
	.static-header-image-container {
		max-height: 355px;
		overflow: hidden;
		border: 1px solid #000;
		
		@media (min-width: 960px) {
			margin: 10px;
		}
		// @media (max-width: 650px) {
		// 	max-height: 125px;
		// }
		.static-header-image {
			padding: 0!important;
		}
	}

}

.portfolio-header-gallery {
	max-height: 400px;
	width: auto;
	text-align: center;
	.static-header-image {
		width: auto;
		max-height: 410px;
		margin: 0 auto;
		text-align: center;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		&.single-property-header-slide-image {
			width: 100%;
			max-height: none;
			@media (max-width: 960px) {
				padding: 0;
				
			}
			@media (max-width: 650px) {
				min-width: 100%;
			}
		}
	}
}

.visible-sm {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}

.hidden-sm {
	display: inline-block;
	@media (max-width: 768px) {
		display: none;
	}
}


/* child property styles */
.child-title-block {
    margin: 10px 0;
    text-align: right;
    text-transform: uppercase;
    font-family: Century Gothic, Tahoma, Arial;
    span {
    	color: #ACACAC;
    }
}

.child-property-container {
	background: #efeeec; /* Old browsers */
	background: -moz-linear-gradient(top,  #efeeec 0%, #ffffff 25%, #ffffff 75%, #efeeec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efeeec), color-stop(25%,#ffffff), color-stop(75%,#ffffff), color-stop(100%,#efeeec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efeeec 0%,#ffffff 25%,#ffffff 75%,#efeeec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efeeec 0%,#ffffff 25%,#ffffff 75%,#efeeec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efeeec 0%,#ffffff 25%,#ffffff 75%,#efeeec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efeeec 0%,#ffffff 25%,#ffffff 75%,#efeeec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeeec', endColorstr='#efeeec',GradientType=0 ); /* IE6-9 */
    float: left;
    width: 75%;
    margin: 0 0 0 15px;
    padding: 15px 0;
    position: relative;
    box-sizing: border-box;
    &:before {
    	content: '';
    	background: url(http://www.maxtestdomain.com/boyle/wp-content/uploads/2015/09/property-watermark.gif) center center no-repeat;
    	position: absolute;
	    width: 100px;
	    height: 50px;
	    display: inline-block;
	    left: -47px;
	    top: -35px;
	    @media (max-width: 768px) {
	    	content: none;
	    }
    }
	.services-container {
		width: 52%!important;
		@media (max-width: 768px) {
			width: 100%!important;
			float: none;
		}
	}
	.properties-sidebar-container {
		width: 45%!important;
		@media (max-width: 768px) {
			width: 100%!important;
			float: none;
		}
	}
	@media (max-width: 960px) {
		width: 100%;
		float: none;
		margin: 0;
	}
}

.single-property-description {
	padding-bottom: 20px;
}

.single-property-form-container {
	margin-top: 30px;
}

.shareaholic-canvas {
	text-align: left;
}

.single-property-form-container, .contact-container {
	.gform_wrapper {
		margin: 0;
		.ginput_complex label, .gform_heading {
			display: none;
		}
		.top_label input.medium {
			width: 97.5%;
		}
		.top_label .gfield_label {
			font-weight: normal;
			line-height: 1;
    		margin: 15px 0 0px;
		}
		.gfield input, .gfield textarea {
			background: #fff!important;
			border: 1px solid #ccc;
			width: 70%!important;
			&:focus {
			    outline: -webkit-focus-ring-color auto 5px;
			}
		}
		.ginput_complex .ginput_full input[type=text] {
			margin-bottom: 6px;
		}
	}

}


.single-property-print {
	@media (max-width: 960px) {
		display: none;
	}
}


// print styles

@media print {
body {background:white; 
     font-size:10pt; 
     margin:0;
     text-align: center; }
#sidebar { display:none }
#header { height:75px }
#page{ margin:0 auto; text-align: center;
     float:none; 
     width:auto }
.demo .red { color:black; 
     font-weight:bold }
#content a { font-weight:bold; 
     color:#000066; 
     text-decoration:underline }
#content{ margin-left:0; 
     float:none; 
     width:auto }
#footer, .ad { display:none }
h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid }
h3 { margin-left:10px; 
     margin-bottom:0px; 
     padding-bottom:0px }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }
img.centered { display: block; 
     margin-left: auto; 
     margin-right: auto; }
img.right { padding: 4px; 
     margin: 0 0 2px 7px; 
     display: inline; }
img.left { padding: 4px; 
     margin: 0 7px 2px 0; 
     display: inline; }
.right { float: right; }
.left { float: left }
img { page-break-inside:avoid; 
     page-break-after:avoid; }
.static-header-image, .outer-image-container {
	width: 100%;
	max-height: 370px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.services-container {
	max-width: 100%;
	float: none;
	clear: both;
	margin-top: 4em;
}
.side-property-header-site-plan {
	display: none;
}
.acf-map {
	max-width: 100%;
	max-height: 250px;
}
.properties-sidebar-container {
	max-width: 100%;
	float: none;
}
.header-nav-primary, .header-nav-1 {
  display: none;
}
.mobile-header, .side-property-header-community-news, .news-sidebar-container, .single-property-select-a-property, .property-map-sidebar {
  display: none;
}
.properties {
	clear: both;
}

.outer-image-container {
	overflow: visible;
}
.property-image-container h2 {
	position: initial;
	color: #000;
	text-transform: capitalize;
}

 


}