.property-sub-navigation {
	position: relative;
	background: url(../../uploads/2015/06/Background-Community-Navigation.png);
	background-repeat: repeat-x;
	height: 40px;
	width: 100%;
	margin: 1.5em 0;
	clear: both;
	@media (max-width: 960px) {
		display: none;
		.search-availability-container & {
			display: block;
			background: transparent;
			height: auto;
			ul {
				text-align: center;
			}
		}
	}
	ul {
		text-align: center!important;
		position: relative;
	}
	li {
		width: 191px;
		height: 37px;
		border: solid 1px #cccccc;
		background-color: #ffffff;
		display: inline-block;
		padding: 5px;
  		margin: 0 10px;
  		@media (max-width: 960px) {
  			width: 43%;
  			margin: .5em;
  			display: inline-block;
  			float: none;
  		}
  		@media (max-width: 400px) {
  			width: 94%;
  		}
  		&:first-child {
  			position: absolute;
  			left: 0;
  			margin-left: 0!important;
  			@media (max-width: 960px) {
  				position: initial;
  				margin: .5em;
  			}
  		}
  		&:last-child {
  			position: absolute;
  			right: 0;
  			margin-right: 0!important;
  			@media (max-width: 960px) {
  				position: initial;
  				margin: .5em;
  			}
  		}
	}
	.bucket {
		background: url(../../uploads/2015/06/Background-Gradient-LightGray.gif);
		background-repeat: repeat-x;
		border: solid 1px #cccccc;
		text-align: center;
		vertical-align: middle;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;
		line-height: 2.7;
		a {
			font-family: Georgia, Times New Roman;
			font-size: .7em;
			text-transform: uppercase;
			vertical-align: super;
			span {
				font-size: 1.3em;
			}
		}
	}
	a {
		display: inline-block;
		width: 99%;
		height: 93%;
		background: url(../../uploads/2015/06/Background-Gradient-LightGray.gif);
		background-repeat: repeat-x;
		border: solid 1px #cccccc;
		font-family: Georgia, Times New Roman;
		text-align: center;
		vertical-align: middle;
		line-height: 3;
		font-size: 13px;
		text-transform: uppercase;
	}
}
.search-availability-content {
	.hidden-mobile {
		display: block;
		@media (max-width: 960px) {
			display: none;
		}
	}
}


.visible-mobile {
	display: none;
	@media (max-width: 960px) {
		display: inline-block;
		margin-bottom: 1em;
	}
	strong {
		vertical-align: top;
		line-height: 1.8;
		display: inline-block;
		width: 75px;
		text-align: right;
		@media (max-width: 32em) {
			width: 100%;
			text-align: left;
		}
	}
	.menu-search-availability-menu-container {
		display: inline-block;
	}
}

.map-image {
	float: left;
    width: 50px;
    margin: 0 15px 0 0;
}

.map-text {
	margin-bottom: 0;
	font-size: 11px;
	&.black-text {
		color: #000;
	}
}

#menu-search-availability-menu, #menu-availability-report-all-regions-menu, #menu-availability-report-greater-memphis-menu, #menu-availability-report-greater-nashville-menu, #menu-availability-report-other-regions-menu, #menu-property-portfolio-all-regions-menu, #menu-property-portfolio-memphis-menu, #menu-property-portfolio-nashville-menu, #menu-property-portfolio-other-regions-menu, #menu-news-all-regions-menu, #menu-news-memphis-menu, #menu-news-nashville-menu, #menu-news-other-regions-menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	li {
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 8%, #CECECE 38%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #ffffff), color-stop(38%, #CECECE));
		background: -webkit-linear-gradient(top, #ffffff 8%, #CECECE 38%);
		background: -o-linear-gradient(top, #ffffff 8%, #CECECE 38%);
		background: -ms-linear-gradient(top, #ffffff 8%, #CECECE 38%);
		background: linear-gradient(to bottom, #ffffff 8%, #CECECE 38%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#CECECE',GradientType=0 );
		border: 1px solid #666;
		vertical-align: bottom;
		position: relative;
		bottom: -1px;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		text-align: center;
		align-self: auto;
		padding: 2px 0 1px;
		margin: 0 1px;
		line-height: 1.3;
		a {
			color: #999999;
			display: block;
			&:hover {
				color: #6699cc;
   				text-decoration: none;

			}
		}
		@media (max-width: 960px) {
			display: block;
			border-radius: 0;
			bottom: 0;
			margin: 0;
			padding-top: 1em;
			padding-bottom: 1em;

		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		&.current-menu-item  {
			background: #ffffff;
			background: -moz-linear-gradient(top,  #ffffff 8%, #CAD3DE 38%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ffffff), color-stop(38%,#CAD3DE));
			background: -webkit-linear-gradient(top,  #ffffff 8%,#CAD3DE 38%);
			background: -o-linear-gradient(top,  #ffffff 8%,#CAD3DE 38%);
			background: -ms-linear-gradient(top,  #ffffff 8%,#CAD3DE 38%);
			background: linear-gradient(to bottom,  #ffffff 8%,#CAD3DE 38%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#CAD3DE',GradientType=0 );
			position: relative;
			border-bottom: 0;
			a {
				color: #355c88;
				text-decoration: none;
				&:hover {
					color: #6699cc;
				    text-decoration: none;

				}
			}
		}
	}
}
.result-content {
	float: left;
	width: 80%;
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #000;
	@media (max-width: 625px) {
		float: none;
		width: 100%;
	}
 }

.property-type-list-content ul li {
	padding: .5em 22px!important;
}

.property-select {
	max-width: 250px;
}

#menu-property-portfolio-regions-menu {
	li {
		margin: 0;
		width: 164px;
		a {
			line-height: 2.6;
			font-size: .8em;
		}
	}
}

.menu-availability-report-regions-menu-container {
	.current-menu-item a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
//all regions
#post-985, #post-606, #post-604, #post-608, #post-595, #post-597, #post-601, #post-599 {
	.menu-item-999 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

#post-1913, #post-1894, #post-1897, #post-1990, #post-1899, #post-1901, #post-1903, #post-1905, #post-1907, #post-1910 {
	.menu-item-1970 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

#post-1914, #post-1917, #post-1919, #post-1921, #post-1922, #post-2019, #post-1926, #post-1928, #post-1931 {
	.menu-item-1971 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

#post-1933, #post-1935, #post-1934, #post-1937, #post-2024, #post-1942, #post-1944, #post-1947, #post-1949 {
	.menu-item-1972 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

#post-1952, #post-1953, #post-2017, #post-1957, #post-1960, #post-1961, #post-1964, #post-1965, #post-1968 {
	.menu-item-1973 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio all regions
#post-1933, #post-1524, #post-1522, #post-1526, #post-1514, #post-1516, #post-1520, #post-1518, #post-1504, #post-1512 {
	.menu-item-1629 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio memphis
#post-1506, #post-1530, #post-1542, #post-1540, #post-1544, #post-1532, #post-1534, #post-1538, #post-1536 {
	.menu-item-1634 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio nashville
#post-1508, #post-1548, #post-1561, #post-1559, #post-1563, #post-1551, #post-1553, #post-1555, #post-1557 {
	.menu-item-1635 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//property portfolio other regions
#post-1510, #post-1566, #post-1577, #post-1575, #post-1579, #post-1569, #post-1571, #post-1573 {
	.menu-item-1636 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
//greater memphis
#post-621, #post-624, #post-619, #post-610, #post-612, #post-617, #post-614, #post-987 {
	.menu-item-1000 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//greater nashville
#post-636, #post-634, #post-638, #post-626, #post-628, #post-632, #post-630, #post-989 {
	.menu-item-1001 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}

//other regions
#post-650, #post-648, #post-652, #post-640, #post-642, #post-646, #post-644, #post-991 {
	.menu-item-1002 a {
		background: url(../../uploads/2015/06/Background-Gradient-LightBlue.gif);
	}
}
.property-type-list-content {
	background: #CAD3DE;
	border: 1px solid #666;
	clear: both;
	padding: 1em;
	display: inline-block;
	width: 100%;
	-webkit-box-size: border-box;
	box-sizing: border-box;
	strong {
		color: #000000!important;
		font-family: Tahoma, Arial!important;
		font-size: 8pt!important;
	}
	&.community-search-filters {
		border-top-width: 0;
		background-color: #CAD3DE;
	}
	
}

.TabUpMiddle {
	height: 25px;
	background-image: url(../../uploads/2015/08/active-background.gif);
	font-family: Verdana, Arial;
	font-size: 8pt;
	background-repeat: repeat-x;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid;
    border-bottom-width: 0;
    line-height: 2;
    padding: 0 10px;
    border-top-width: 0;

}

p.navrechts {
    text-align: right;
}

.left-content {
	float: left;
	width: 50%;
	margin-right: 1em;
	@media (max-width: 960px) {
		float: none;
		width: 99%;
	}
}
.search-filters {
	display: inline-block;
	margin-bottom: 1em;
	small {
		font-size: 12px;
		margin-right: .5em;
	}
	strong {
		vertical-align: top;
		line-height: 1.8;
		display: inline-block;
	    width: 75px;
	    text-align: right;
	    @media (max-width: 32em) {
	    	text-align: left;
	    }
	}
	span {
		font-size: 11px;
	}
}

.search-availability-content {
	clear: both;

}
.page-result {
	.SubTitle-Blue {
		font-weight: bold;

	}
}
.search-availability-results.property-list-container {
	hr {
		margin-top: 0;
	}
	h3 {
		float: left;
		width: 32%;
		@media (max-width: 32em) {
			width: 100%;
			float: none;
		}
	}
	hr {
		float: none;
		clear: both;
	}
}

.result-item {
	.result-item-agent-info {
		line-height: 1.5;
	}
	.result-item-agent {
		display: inline;
		margin-bottom: 0;
	}
}


.search-results-container {
	padding: 10px 10px 0;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    .pull-left	{
    	width: 50%!important;
    	@media (max-width: 48em) {
    		width: 100%!important;
    	}
    }
    .navrechts {
    	margin-top: 0;
    }
}

.orderResultsForm {
	@media (max-width: 450px) {
		width: 100%;
	}
	
}

.search-inner-form {
	float: left;
	display: block;
	width: 33%;
	strong {
		color: #000!important;
		font-size: 12px!important;
	}
	@media (max-width: 32em) {
		display: block;
		width: 100%;
		margin: 10px 0;
	}
}


.navrechts {
	color: #000;
}

.property-search-results {
    color: #355c88!important;
    text-decoration: none;
    font-family: Century Gothic, Tahoma, Arial!important;
    font-size: 12pt!important;
}


