

img.logo {
	position: absolute;
	top: 25px;
	left: 55px;
	z-index: 9990;
	display: none;
	@media (min-width: 60em) {
		display: block;
	}
	.lte9 & {
		display: block;
	}
}



#simple-menu {
	&:before {
		content: "\2261";
	}
	&.is-open:before {
		content: "\2715";
	}

}

//sidebars
.services-sidebar-container, .about-sidebar-container, .contact-sidebar-container, .properties-sidebar-container {
	@media (min-width: 48em) {
		float: left;
		text-align: left;
		width: 20%;
		height: 360px;
		box-sizing: border-box;
	}

	li {
		margin-bottom: 2em;
		color: #355c88;

		&:before {
			@media (min-width: 48em){
				content: '\00BB';
				display: inline-block;
				padding-right: .5em;
				font-size: 1em;
				font-family: Tahoma, Arial;
				position: relative;
				top: 1px;
			}

		}
		&:after {
			content: '';
			font-size: 3em;
			position: absolute;
			right: 1em;
			top: 0;
			height: 47px;
			background: url(images/nav-arrow.gif);
			width: 38px;
			@media (min-width: 60em) {
				display: none;
			}
		}
		@media (max-width: 48em) {
			color: #fff;
			height: 47px;
			box-sizing: border-box;
			margin: 0.2em;
			display: block;
			vertical-align: top;
			border-bottom: 2px solid #333;
			width: 100%;
			text-align: left;
			background: #567da8;
			position: relative;
			background: -moz-linear-gradient(top,  #567da8 0%, #4F7399 30%, #2f4155 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#567da8), color-stop(30%, #4F7399), color-stop(100%,#2f4155));
			background: -webkit-linear-gradient(top #567da8 0%,#4F7399 30%, #2f4155 100%);
			background: -o-linear-gradient(to bottom, #567da8 0%,#4F7399 30%, #2f4155 100%);
			background: -ms-linear-gradient(to bottom, #567da8 0%,#4F7399 30%, #2f4155 100%);
			background: linear-gradient(to bottom, #567da8 0%,#4F7399 30%, #2f4155 100%);
		}

		a {
			color: #fff;
			vertical-align: middle;
			line-height: 20px;
			padding: 1em;
			font-family: Tahoma, Arial;
			display: block;
			@media (min-width: 48em) {
				color: #355c88;
				line-height: initial;
				padding-left: initial;
				display: initial;
			}
		}
	}
	p {
		margin: 0;
	}
	h4 {
		font-family: Trebuchet MS, Arial;
		font-size: 13px;
	}

}


.contact-sidebar-container {
	width: 25%;
		.textwidget {
		font-size: 12px;
		text-align: left;
		padding: 0.5em;
		box-sizing: border-box;
		strong {
			color: #000;
		}
		p {
			color: #000;
		}
	}
}

