.sidr input[type="text"].Text-Gray {
	width: 125px;
	background: #fff;
	color: #666;
	margin: 0;
	display: inline-block;
	border-radius: 0;
} 

.sidr .mobile-search-button {
	width: 28px;
	height: 27px;
	margin-top: -3px;
}